<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ftas.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="top.ftas.test.application.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="top.ftas.dunit.activity.DUnitSimpleListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="top.ftas.dunit.activity.SingleFragmentActivity" />
        <activity android:name="top.ftas.dunit.activity.SingleSupportFragmentActivity" />
        <activity android:name="top.ftas.test.TestWindowUtilActivity" />
        <activity android:name="top.ftas.test.TestWindowFullScreenUtilActivity" />
        <activity android:name="top.ftas.test.TestGaussActivity" />
        <activity android:name="top.ftas.test.TestTranslucentActivity"
            android:theme="@style/UtilSupport.TranslucentDefault"
            />
        <activity android:name="top.ftas.test.TestShareRedPaperPictureUtilActivity" />
        <activity android:name="top.ftas.test.okhttp.TestOkHttpClientNoVerifyUtilActivity" />
        <activity android:name="top.ftas.test.bitmap.TestLoadBitmapFromViewUtilActivity" />
        <activity android:name="top.ftas.test.recyclerview.TestItemDecorationUtilActivity" />
        <activity android:name="top.ftas.test.string.TestSpannableStringBuilderActivity" />


    </application>

</manifest>